<style type="text/tailwindcss">
    @tailwind base;

    @tailwind components;


    div.formGridTwoCols {
        @apply grid grid-cols-2 gap-4;
    }

    label, legend {
        @apply block mb-2 text-sm font-medium text-gray-900;
    }
    input, input[type=text], input[type=number], select {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5;
    }
    input[type=checkbox] {
        @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded;
    }

    .modalCaption {
        @apply list-disc text-xs;
    }

    input.inTableSmall {
        @apply inline block w-12 p-2 text-gray-900 border border-white bg-white bg-opacity-0 text-xs;
    }

    div.messagesContainer {
        @apply px-4 py-3;
    }
    div.message {
        @apply p-4 mb-4 text-sm rounded-lg text-blue-800 bg-blue-50;
    }
    div.success {
        @apply text-green-800 bg-green-50;
    }
    div.error {
        @apply text-red-800 bg-red-50;
    }
    div.warning {
        @apply text-yellow-800 bg-yellow-50;
    }
    div.debug {
        @apply text-gray-800 bg-gray-50;
    }
</style>