{% include "base.html" %}

{% block content %}
<h1>Счета</h1>

{% include "messages.html" %}

{% for account in accounts %}
<div class="flex content-center min-h-8 px-2 py-2 items-center">
    <div class="w-12"><img src='{{ account.bankId.icon_url }}' class="rounded-full"/></div>
    <div class="w-64 px-2">
        {{account.name}}<br/>
        <div class="text-xs text-gray-500">{{account.type}}</div>
    </div>
    {% if account.bankId.alias == 'tinkoff' %}
    <div class="w-16"></div>
    <div class="w-32">
        <a href='{% url "analyzer:account_positions_update" account.pk %}'>
            Обновить портфолио</a>
    </div>
    <div class="w-32">
        <a href='{% url "analyzer:account_operations_update" account.pk %}'>
            Обновить операции</a>
    </div>
    <div class="w-32">Обновить что-то?</div>
    <div class="w-24">Баланс?</div>
    {% else %}
    <div class="w-256">Если сбербанк или что-то другое - то надо тут что-то вставить. Дата последнего обновления отчета?</div>
    {% endif %}
    <div class="w-32">{{account.status}}</div>
</div>
{% endfor %}

<hr />
Загрузка отчетов Сбербанка:
<div hx-get='{% url "analyzer:sberbankUpload" %}' hx-swap="innerHTML" hx-trigger="load"></div>

{% endblock %}