{% include "base.html" %}

{% block content %}
<h1 class="text-4xl px-5 py-6">Целевой портфель "{{ portfolio.name }}"</h1>

<div class="content-center min-h-8 px-6">
    {% include "analyzer/targets_portfolio_data.html" %}
</div>

<div class="">
    {% with modalIdT="targetEditmodalContainer" %}
    <button data-modal-target="{{modalIdT}}" data-modal-toggle="{{modalIdT}}" 
            class="btn primary">Редактировать портфель</button> 
    {% include 'analyzer/target_edit_modal_form.html' %}
    {% endwith %}
    | 

    {% with modalIdT="instrumentAddForm" %}
    <button data-modal-target="{{modalIdT}}" data-modal-toggle="{{modalIdT}}"
            class="btn primary">Добавить позицию в портфель</button> 
    {% include 'analyzer/target_position_add_modal_form.html' %}
    {% endwith %}
    |

    {% with modalIdT="targetIndexModalContainer" %}
    <button data-modal-target="{{modalIdT}}" data-modal-toggle="{{modalIdT}}"
            class="btn primary">Обновить состав индекса</button> 
    {% include 'analyzer/target_index_modal_form.html' %}
    {% endwith %}
</div>

<div id="targetsContainer" class="min-w-full flex flex-row">
    <div class="basis-* flex content-center min-h-8 px-0 text-center">
        <div id="targetsPositionsContainer" hx-get="{% url 'analyzer:targetPositions' portfolio.pk %}"  
        hx-trigger="load">

            Загружаем список целевых пунктов. много их.
            {% include "spinner.html" %}
        </div>
    </div>

</div>


<script>

function positionDeleteConfirmation(position_pk, position_name) {
  let text = "Подтвердите удаление позиции:\n" + position_name;
  text += "\n\nДанное действие необратимо!"
  if (confirm(text) == true) {
    pre_url = "{% url 'analyzer:positionDelete' 1 %}";
    url = pre_url.slice(0, -1) + String(position_pk);

    const xhr = new XMLHttpRequest();
    xhr.open("GET", url);
    
    xhr.onload = () => {
        if (xhr.status == 204) {
            row_id = "position-row-" + String(position_pk);
            document.getElementById(row_id).remove(); // Удаляем строку из таблицы
            htmx.trigger("body", "tableReload", {answer:42}); // Пересчитываем таблицу
        }
    };
    
    xhr.send(null);
  }
}

</script>


<script>
    // https://www.w3schools.com/howto/howto_js_sort_table.asp
    function sortTableNumeric(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("targetsTable");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n].getAttribute("value");
          console.log(x)
          y = rows[i + 1].getElementsByTagName("TD")[n].getAttribute("value");
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {
            if (Number.parseFloat(x) > Number.parseFloat(y)) {
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (Number.parseFloat(x) < Number.parseFloat(y)) {
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
</script>

&nbsp;
{% endblock %}