<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase sticky top-16 bg-gray-50 dark:bg-gray-700 dark:text-gray-400 z-10">
        <tr>
            <th scope="col" class="px-6 py-3 min-w-64 sticky left-0">
                Позиция
            </th>
            <th scope="col" class="px-6 py-3 max-w-64 text-center">
                Вес в индексе * коэффициент 
            </th>
            <!--th scope="col" class="px-6 py-3">
                Коэф-т
            </th-->
            <th scope="col" class="px-6 py-3">
                Мой Вес <small>(нормализовано)</small>
            </th>
            <th scope="col" class="px-6 py-3 text-center">
                Цена <small>(за шт.)</small>
            </th>
            <!--th scope="col" class="px-6 py-3">
                Див.дох.
            </th-->
            <th scope="col" class="px-6 py-3">
                Акций Купить,<br/>Стоимость<br/><span class="text-2xs">(нормализовано по тек.ценам)</span>
            </th>
            <!--th scope="col" class="px-6 py-3">
                Стоимость (нормализовано)
            </th-->
            <th scope="col" class="px-6 py-3">
                Куплено акций,<br/>Стоимость<br/>
            </th>
            <!--th scope="col" class="px-6 py-3">
                Куплено стоимость позиции
            </th-->
            <th scope="col" class="px-6 py-3">
                % готово
            </th>
            <th scope="col" class="px-6 py-3">
                Сектор
            </th>
            <th scope="col" class="px-6 py-3">
                Дивиденд на акцию
            </th>
            <th scope="col" class="px-6 py-3">
                Див/год ожидаемый (без вычета налога)
            </th>
            <th scope="col" class="px-6 py-3">
                Целевой див.
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>

    {% for position in positions %}
    <tr class="" hx-get="{% url 'analyzer:targetPositionItem' position.pk%}"  
    hx-trigger="load" hx-swap="outerHTML">
        <td colspan="5"><div class="inline">Загрузка позциции {% include "spinner.html" %}</div></td>
    </tr>
    {% endfor %}

    </tbody>
</table>    
