{% load instrument_tags %}
{% load target_item_tags %}

<tr class="hover:bg-gray-300 {% complete_background_color position.percent_complete %}" id="position-row-{{position.pk}}" 
    hx-get="{% url 'analyzer:targetPositionItem' position.pk %}"  
    hx-swap="outerHTML" hx-trigger="tableReload from:body delay:{{position.order_number}}00ms">
    <td class="py-2 px-l-2 sticky left-0 bg-white bg-opacity-100">
        <div class="flex items-center">
            <div class="w-5 px-1"><form>{% csrf_token %}
                <button hx-post="{% url 'analyzer:positionMove' position.pk 'up' %}" 
                    hax-target="#targetsPositionsContainer" hx-swap="none" value="up" class="up"
                    onclick="var row = $(this).parents('tr:first'); row.insertBefore(row.prev());">
                <svg class="w-4 h-4 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7"/>
                </svg>
                </button>
                <button hx-post="{% url 'analyzer:positionMove' position.pk 'down' %}" 
                    hax-target="#targetsPositionsContainer" hx-swap="none" class="down"
                    onclick="var row = $(this).parents('tr:first'); row.insertAfter(row.next());">
                <svg class="w-4 h-4 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                </svg>
            </button>
            </form></div>
        {% instrument_badge position.instrument True True %}
        </div>
    </td>

    <td class="text-center">
        <form id="coeff-form-{{position.pk}}" 
              hx-post="{% url 'analyzer:positionCoefficientSet' position.pk %}" 
              hx-target="#position-row-{{position.pk}}" hx-swap="outerHTML">
        {% csrf_token %}
        {{position.indexTarget|floatformat:"2"}}
        &nbsp;*&nbsp;
        <input type="text" id="coefficient" name="coefficient" class="inTableSmall"
            value="{{position.coefficient}}">
        </form>
    </td>
    <td class="text-center">
        {{position.my_weight}}
        <div class="text-2xs">
            Соответствие: {{position.index_correlation|floatformat:"2"}}
        </div>
    </td>
    <td class="text-right">
        {{position.current_price|floatformat:"2"}}
        <br/><span class="text-2xs">(Лот: {{position.instrument.lot}})</span>
    </td>

    <!--td>див.доход</td-->

    <td class="text-right">
        {{position.to_buy_qtty}}
        <span class="text-left text-2xs w-[50px] inline-block text-gray-500">
            &nbsp;
        </span>
        <br/>
        {{position.to_buy_price|floatformat:"2"}}
        <span class="text-left text-2xs w-[50px] inline-block">
            руб.
        </span>
    </td>
    <!-- td class="text-right">{{position.to_buy_price|floatformat:"2"}}</td -->

    <td class="text-right">
        {{position.bought_qtty}}
        <span class="text-left text-2xs w-[50px] inline-block text-gray-500">
            &nbsp;
        </span>
        <br/>
        {{position.bought_price|floatformat:"2"}}
        <span class="text-left text-2xs w-[50px] inline-block">
            руб.
        </span>
    </td>
    <!-- td class="text-right">{{position.bought_price|floatformat:"2"}}</td-->
    <td class="text-right px-5">{{position.percent_complete}}%</td>
    <td>{{position.instrument.sector}}</td>
    <td><!-- див на акцию --></td>
    <td><!-- див год --></td>
    <td><!-- Целевой див. --></td>
    <td>
        <button onclick="positionDeleteConfirmation({{position.pk}}, '{{position.instrument.name}}')">Удалить</button>
    </td>


</tr>