{% include "base.html" %}

{% block content %}
<h1 class="text-4xl px-5 py-6">Целевой портфель "{{ portfolio.name }}"</h1>

<div class="content-center min-h-8 px-6">
    {% include "analyzer/targets_portfolio_data.html" %}
</div>

<div class="">
    {% with modalIdT="targetEditmodalContainer" %}
    <button data-modal-target="{{modalIdT}}" data-modal-toggle="{{modalIdT}}" 
            class="btn primary">Редактировать портфель</button> 
    {% include 'analyzer/target_edit_modal_form.html' %}
    {% endwith %}
            | 
    <a href="#">Добавить позицию в портфель</a> |
    {% with modalIdT="targetIndexModalContainer" %}
    <button data-modal-target="{{modalIdT}}" data-modal-toggle="{{modalIdT}}"
            class="btn primary">Обновить состав индекса</button> 
    {% include 'analyzer/target_index_modal_form.html' %}
    {% endwith %}
</div>

<div id="targetsContainer" class="min-w-full flex flex-row">
    <div class="basis-* flex content-center min-h-8 px-0 text-center">
        <div id="targetsPositionsContainer" hx-get="{% url 'analyzer:targetPositions' portfolio.pk %}"  
        hx-trigger="load">

            Загружаем список целевых пунктов. много их.
            {% include "spinner.html" %}
        </div>
    </div>

</div>


<script>

function positionDeleteConfirmation(position_pk, position_name) {
  let text = "Подтвердите удаление позиции:\n" + position_name;
  text += "\n\nДанное действие необратимо!"
  if (confirm(text) == true) {
    pre_url = "{% url 'analyzer:positionDelete' 1 %}";
    url = pre_url.slice(0, -1) + String(position_pk);

    const xhr = new XMLHttpRequest();
    xhr.open("GET", url);
    
    xhr.onload = () => {
        if (xhr.status == 204) {
            row_id = "position-row-" + String(position_pk);
            document.getElementById(row_id).remove(); // Удаляем строку из таблицы
            htmx.trigger("body", "tableReload", {answer:42}); // Пересчитываем таблицу
        }
    };
    
    xhr.send(null);
  }
}

</script>

&nbsp;
{% endblock %}